<h1><%= @country.name %></h1>


<h4>Add a city in <%= @country.name %></h4>

<form action="/cities" method="POST">

  <input type="text" name="country_id" hidden value="<%= @country.id %>">

  <label for="city"></label>
  <input required type="text" placeholder="City Name" id="city" name="name">
<br>
<br>
  <input type="radio" name="visited" value="t" id="t">
    <label for="t">Add to visited</label>
  <input type="radio" name="visited" value="f" id="f">
    <label for="f">Add to Still to See</label>
<br>
<br>
  <button type="Submit">Submit</button>

</form>

<hr>

<h2>Cities Visited</h2>

<% for city in @cities %>
  <% if (city.visited)  %>
      <p><%= city.name() %></p>
      <button><a href="/cities/ <%= city.id %>/edit">Edit City</a></button>
      <form action="/cities/<%= city.id %>/delete" method="POST">
        <input type="submit" value="Delete City">
      </form>

    <%end %>
<%end%>

<hr>

<h2>Cities Still to See</h2>

<% for city in @cities %>
  <% if (!city.visited)  %>
      <p><%= city.name() %></p>
      <button><a href="/cities/ <%= city.id %>/edit ">Edit City</a></button>
      <form action="/cities/<%= city.id %>/delete" method="POST">
        <input type="submit" value="Delete City">
      </form>
    <%end %>
<%end%>


<hr>

<h2>Sights Seen</h2>
<h2>Sights Still to See</h2>
